.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #fff;
}

/* Background overrides for the specific blocks */
.heroModule {
  background-image: url('/images/home_hero_quadra.jpg');
}

.storeModule {
  background-image: url('/images/home_store_grid.jpg');
}

.supportModule {
  background-image: url('/images/home_support_grid.jpg');
}
