.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 22px 100px;
}

.title {
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @media only screen and (min-width: 735px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.column {
  h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--sk-glyph-gray-secondary);
  }

  a {
    display: block;
    font-size: 15px;
    padding: 6px 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
