.localNav {
  position: sticky;
  top: var(--nav-height);
  z-index: 9000;
  height: 52px;
  display: flex;
  align-items: center;
  background: rgba(29, 29, 31, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  color: #fff;
}

.inner {
  width: 100%;
  max-width: var(--container-max-wide);
  margin: 0 auto;
  padding-inline: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.title {
  font-size: 21px;
  font-weight: 600;
  white-space: nowrap;
}

.links {
  display: none;
  gap: 28px;
  flex: 1;
  justify-content: center;

  @media only screen and (min-width: 900px) {
    display: flex;
  }
}

.link {
  font-size: 12px;
  color: rgba(245, 245, 247, 0.8);
  white-space: nowrap;

  &:hover {
    color: #fff;
  }
}

.active {
  color: #fff;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
}

.price {
  display: none;
  font-size: 12px;
  color: rgba(245, 245, 247, 0.8);

  @media only screen and (min-width: 480px) {
    display: inline;
  }
}

.buyBtn {
  font-size: 12px;
  background: #2997ff;
  color: #000;
  padding: 6px 14px;
  border-radius: 980px;
  font-weight: 400;

  &:hover {
    background: #52aeff;
  }
}
