.frame {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 16px;
  background: #1c242e;
  border: none;
}

.large {
  border-radius: 16px;
  aspect-ratio: 16 / 9;
}

.image,
.video {
  object-fit: cover;
  object-position: center;
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
